<div class="row">
<p>
  <h3><%= @post.title %></h3>
</p><br>

<p>
  <h5><%= @post.text %></h5>
</p>
</div>
<br>

<div class="row">
	<h2>Comments</h2>
	<%= render @post.comments %>
	 
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
	 
	<%= link_to 'Edit Post', edit_post_path(@post) if current_user.try(:is_admin) == true %>
	| <%= link_to 'Back to Posts', posts_path %>
</div>