<footer>
  <div class="container footer-text">
    <center>
      <p>
        <%= link_to 'My skill', skill_path %> &nbsp &nbsp | &nbsp &nbsp
        <%= link_to 'Blog', posts_path %> &nbsp &nbsp | &nbsp &nbsp
        <%= link_to 'Portfolio', portfolio_path %> &nbsp &nbsp | &nbsp &nbsp
        <%= link_to 'Resume', resume_path %> &nbsp &nbsp | &nbsp &nbsp
        <%= link_to 'Contact Me', '#' %>&nbsp &nbsp | &nbsp &nbsp
        <% if user_signed_in? %>
          Welcome <%= current_user.email %>
          <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </p>
    </center>
<!--     <div class="row">
      <div class="span2">
        <h4><i class="icon-star icon-white"></i> Projects</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="product.html">Project1</a></li>
            <li><a href="product.html">Project2</a></li>
            <li><a href="product.html">Project3</a></li>
            <li><a href="all_products.html">All projects</a></li>
          </ul>
        </nav>
      </div>
      <div class="span2">
        <h4><i class="icon-beaker icon-white"></i> About</h4>
        <nav>
          <ul class="quick-links">
            <li><%= link_to 'My skill', skill_path %></li>
            <li><%= link_to 'Blog', posts_path %></li>
            <li><%= link_to 'Portfolio', portfolio_path %></li>
            <li><%= link_to 'Resume', resume_path %></li>
            <li><%= link_to 'Events', '#' %></li>
          <ul>
        </ul></ul></nav>          
      </div>
      <div class="span2">
        <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="#">FAQ</a></li>
            <li><%= link_to 'Contact', contact_path %></li>
          </ul>
        </nav>
      </div>
      <div class="span3">
        <h4><i class="icon-hand-right icon-white"></i> Get in touch</h4>
        <div class="social-icons-row">
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-facebook"></i></a>
          <a href="#"><i class="icon-linkedin"></i></a>                                         
        </div>
        <div class="social-icons-row">
          <a href="#"><i class="icon-google-plus"></i></a>              
          <a href="#"><i class="icon-github"></i></a>
          <a href="mailto:manijain333@gmail.com"><i class="icon-envelope"></i></a>        
        </div>
      </div>
    </div>
  -->
  <hr class="footer-divider">
    <a class="visitor_total" href="javascript:void(0);"> Total Visitors </a>
    <a href="http://guestscounter.com"><img src="http://guestscounter.com/count.php?c_style=2&id=1392230634" border=0 alt="free counter"></a><br><a href="http://guestscounter.com" style="font-size:9px;"></a>&nbsp

    <p class= "pull-right">
      <small>Develop & Design By &nbsp <a href="/">Manish Jain</a> &nbsp <i class="icon-beaker"></i></small>
    </p>
     </div>
</footer>